{% extends 'system/base.html' %}

{% block content %}
    {% include 'system/includes/message.html' %}

    <form action="{% url 'system:change_password' %}" method="POST">

        {% csrf_token %}

        <div class="mb-3">
            <label for="password" class="form-label">Senha Atual</label>
            <input name="password" type="password" class="form-control bg-custom" id="password">
        </div>

        <div class="mb-3">
            <label for="new_password" class="form-label">Nova Senha</label>
            <input name="new_password" type="password" class="form-control bg-custom" id="new_password">
        </div>

        <button type="submit" class="btn btn-custom-primary">
            <span class="fas fa-save"></span>
            Salvar
        </button>
    </form>
{% endblock %}