{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-outline alert-success" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endif %}
        {% if message.tags == 'error' %}
            <div class="alert alert-outline alert-danger" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endif %}
        {% if message.tags == 'warning' %}
            <div class="alert alert-outline alert-warning" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-outline alert-danger" role="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-outline alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
