{% extends 'system/base.html'%}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'gallery:show_exhibition' %}">Exposições</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
      </ol>
    </nav>

    {% include 'system/includes/message.html' %}

    <form id="exhibition_form" action="{% url 'gallery:edit_exhibition' exhibition.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-wrap">
            <label for="Name">{{ form.name.label }}</label>
            <input type="text" class="form-control bg-custom" name="name" value="{{ form.name.value }}" required>

            <div class="input-group" style="margin-top: 20px; margin-bottom: 20px;">
                <input  name="cover" type="file" class="form-control bg-custom" id="inputGroupFile02">
                <label class="input-group-text bg-custom" for="inputGroupFile02">Upload</label>
            </div>
        </div>

        <div class="d-flex justify-content-between flex-wrap">
            <button id="save_exhibition" data-url="{% url 'gallery:edit_exhibition' exhibition.id %}" type="button" class="btn btn-custom-primary">
                <span class="fas fa-save"></span>
                Salvar
            </button>

            <button id="back" type="button" class="btn btn-custom-primary">
                <span class="fa fa-arrow-left"></span> Voltar
            </button>
        </div>
    </form>

{% endblock content %}

{% block contentjs %}
    <script>
        $('#back').click(function() {
            window.location = "{% url 'gallery:show_exhibition' %}";
        });
        $('#save_exhibition').click(function () {
            $('#exhibition_form').submit();
        });
    </script>
{% endblock contentjs %}